{% extends 'base.html' %}
{% load staticfiles %}

{% block includes %}
    <link href="{% static 'frontend/css/index.css' %}" rel="stylesheet">
    <style type="text/css"> body { background: url("{% static 'frontend/images/fondo.jpg' %}"); }</style>
{% endblock %}

{% block content %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Prode!</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Inicio</a></li>
              <li><a href="#">WTF is this?</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading">Partidos fecha {{fecha.numero}}</h1>
      </div>
    </div>
    <div class="partidos">
      {% for partido in fecha.get_partidos %}
         {% if partido.estado == 1 %}<span style="color: green; font-weight:bold;">{% endif %}
        <p><img class="escudo" src="{% static partido.equipo_local.escudo.url %}"></img>{{ partido.equipo_local }} {{ partido.goles_local }} - {{ partido.goles_visitante }} {{ partido.equipo_visitante }}<img class="escudo" src="{% static partido.equipo_visitante.escudo.url %}"></p>
        {% if partido.estado == 1 %}</span>{% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
