{% load static from staticfiles %}
{% load frontend_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="60" >

    <title>Aguante! - Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="{% static 'frontend/css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/dashboard.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Aguante!</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#ul_torneos"><i class="fa fa-fw fa-futbol-o"></i> Torneos <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="ul_torneos" class="collapse">
                        {% for torneo in torneos %}
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#ul_fechas{{ torneo.id }}" {% if torneo.activo %}id="li-torneo-activo" class="fa fa-clock-o"{% endif %}> {{ torneo.nombre }}</a>
                                <ul id="ul_fechas{{ torneo.id }}" class="collapse">
                                {% for fecha in torneo.fechas.all %}
                                    <li>
                                        <a href="{% url 'dashboard' torneo.id fecha.numero %}" {% if fecha.activa %}id="li-fecha-activa"{% endif %}><i class="fa fa-calendar-o"></i> Fecha {{ fecha.numero }}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{ torneo.nombre }}
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-sm-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-calendar fa-fw"></i> Fecha {{ fecha.numero}}</h3>
                            </div>
                            <div class="panel-body" id="partidos_fecha">
                            {% for partido in fecha.partidos %}
                                <li class="list-group-item">
                                    <div class="row" id ="row_partido_{{ partido.id }}">
                                        <div class="col-sm-3 text-center">
                                            <img class="escudo" src="{{ partido.equipo_local.escudo.url }}"></img></p>
                                        </div>
                                        <div class="col-sm-6 text-center">
                                            <div class="row">
                                                <h3>{{ partido.equipo_local.nombre }} <span id="goles_local">{{ partido.goles_local }}</span> - <span id="goles_visitante">{{ partido.goles_visitante }}</span> {{ partido.equipo_visitante.nombre }}</h3>
                                            </div>
                                            <div class="row-estado row">
                                                <div class="col-sm-12">
                                                    <div class="icono-estado icono-estado-{{ partido|icono_estado }}"></div>
                                                <div class="descripcion-estado" id="texto_estado">{{ partido.texto_estado }}</div>
                                                {% if partido.youtube_url %}
                                                    <div class="youtube-link"><a href="http://youtube.com/watch?v={{ partido.youtube_url }}" target="_blank">Ver en YouTube</a></div>
                                                {% endif %}
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            <img class="escudo" src="{{ partido.equipo_visitante.escudo.url }}">
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Backbone.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js"></script>

    <!-- Application -->
    <script src="{% static 'frontend/js/models.js' %}"></script>
    <script src="{% static 'frontend/js/views.js' %}"></script>
    <script src="{% static 'frontend/js/app.js' %}"></script>

</body>
</html>
